 body {
    /* background-color: pink; */
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 .navbar{
   height: 5rem;
   background-color: white;
 }
 /* navbar ka height increase ho gaya */

 .fa-compass{
   color: #fe424d;
   /* compass ko color do */
   font-size: 2rem;
   /* compass a size bada ho gaya  */
 }

 .nav-link {
   color: #222222 !important;
     /* !important; used so that our styling should overwrite bootstrap style  */

 }

 /* footer styling */
 .f-info-links a:hover {
    text-decoration: underline;
 }
  
 .f-info-links a{
    text-decoration: none;
    color:#222222 ;
 }

 .f-info-links,.f-info-socials   {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center
   /* iske baad jo icons hai wo sab upar se middle mae aa jayenge */
 }


.f-info-socials i {
      font-size: 1.2rem;
   /* icons ka size increase karo */
   margin-right: 1rem;
   /* sable bich mae space dalo */
}
  
 .f-info {
    display: flex;
    /* saari chije same line mae aa jayegi */
    background-color: #ebebeb;
    height: 8rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
 }

 /* style for card */
 .listing-card{
   border : none !important;
   margin-bottom: 2rem;
 }

 .card-img-top {
   border-radius: 1rem !important;
   width: 100% !important;
 }

 .card-body {
   padding: 0 !important;
   /* padding se image aur text ek dusre se align ho jayega */
 }

 .card-text p {
   font-weight: 400 !important;
 }

 .listing-link {
   text-decoration: none;
 }

 /* card effect */
 .card-img-overlay {
   opacity: 0;
 }
 .card-img-overlay:hover {
   opacity: 0.2;
   background-color: white;
 }

 .add-btn {
  background-color: #fe424d !important;
  border: none !important;
 }

 .edit-btn {
   background-color: #fe424d !important;
  border: none !important;
 }

 /* Show page */
 .show-img {
  height: 30vh;
 }
 
.btns {
  display: flex;
}

.container {
  flex: 1;
}